<div class="animated fadeIn overflow-x-hidden">
    <!-- Product #1 -->
    <div class="row bg-white">
        <!-- Product #1 -->
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5">
            <div class="product-card product-card-right bg-light border-radius-lg mr-n5 px-5 mt-5 py-3">
                <h1 class="h3 text-uppercase">Ascensores</h1>
                <p class="text-justify">
                    Un ascensor o elevador es un sistema de transporte vertical, diseñado para mover personas u
                    objetos entre los diferentes niveles de un edificio o estructura. Está formado por partes
                    mecánicas, eléctricas y electrónicas que funcionan en conjunto para ponerlo en marcha.
                </p>
            </div>
        </div>
        <div class="col-sm-6 px-0">
            <img src="assets/images/elevator-ascensor.jpg" alt="Ascensores"
                class="border-radius-lg img-fluid w-100 my-3">
        </div>
    </div>
    <div class="row bg-white">
        <!-- Product #2 -->
        <div class="col-sm-6 px-0">
            <img src="assets/images/escaleras-mecanicas.jpg" alt="Ascensores"
                class="border-radius-lg img-fluid w-100 my-3">
        </div>
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5">
            <div class="product-card product-card-left bg-light border-radius-lg mr-n5 px-5 mt-5 py-3">
                <h1 class="h3 text-uppercase">Escaleras electricas</h1>
                <p class="text-justify">
                    Una escalera mecánica o eléctrica es un dispositivo de transporte, que consiste en una
                    escalera inclinada, cuyos escalones se mueven hacia arriba o hacia abajo. La escalera
                    mecánica transporta a las personas sin que se tengan que mover, ya que los peldaños se
                    mueven mecánicamente.
                </p>
            </div>
        </div>
    </div>
    <!-- Product #3 -->
    <div class="row bg-white">
        <!-- Product #1 -->
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5">
            <div class="product-card product-card-right bg-light border-radius-lg mr-n5 px-5 mt-5 py-3">
                <h1 class="h3 text-uppercase">Montacargas</h1>
                <p class="text-justify">
                    Un montacargas o coloquialmente toro es un vehículo contrapesado en su parte trasera y que
                    mediante dos horquillas sirve para subir y bajar palés.
                </p>
            </div>
        </div>
        <div class="col-sm-6 px-0">
            <img src="assets/images/montacargas.jpg" alt="Ascensores" class="border-radius-lg img-fluid w-100 my-3">
        </div>
    </div>

    <app-slider></app-slider>
</div>