<section class="section-footer mt-5">
    <div class="bg-dark text-white pt-4 pb-4">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <!-- Mover data -->
                <div class="company-info col-sm-9">
                    <img src="assets/images/logotipo-white.png" alt="Mover logotipo" class="img-fluid">
                    <div class="divider float-left"></div>
                    <p class="font-sm text-uppercase mt-n3"> Ascensores y Escaleras </p>
                    <div class="my-2 font-sm text-white-80">
                        <div class="d-flex align-items-baseline my-2">
                            <i class="fas fa-phone mr-2"></i>
                            <div class="d-flex flex-column">
                                <span>57 (5) 3603796</span>
                                <span>321 6723195 - 3182173782</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline my-2">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                            <div class="d-flex flex-column">
                                <span>Carre 42 N° 72 - 122 Oficina 802</span>
                                <span>Edificio Centro de Profesionales</span>
                                <span>Barranquilla, Colombia</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline my-2">
                            <i class="far fa-envelope mr-2"></i>
                            <span>info@ascensoresmover.com.co</span>
                        </div>
                    </div>
                </div>

                <!-- Contacto -->
                <div class="contact-info col-sm-3">
                    <p class="font-sm text-uppercase font-weight-bold mt-3">Contactenos </p>
                    <form action="#">
                        <div class="row my-1">
                            <div class="col-sm-12">
                                <input type="text" class="form-control font-sm" placeholder="Correo electrónico">
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-sm-12">
                                <input type="text" class="form-control font-sm" placeholder="Nombre completo">
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control font-sm" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-sm btn-warning w-50">
                                    Enviar <i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="sticky-footer p-3 bg-dark text-white-50">
        <div class="text-uppercase text-center">
            <p class="font-sm">Todos los derechos reservados © 2020</p>
        </div>
    </footer>
</section>