.navbar-collapse {
    text-align: center;
}
.nav-link {
    width: 90px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding-bottom: 10px;
}
.nav-link:hover {
    background-color: #f8a824;
    border-radius: 5px;
    font-weight: 500;
    color: white !important;
    padding-bottom: 10px;
    transition: 0.3s ease;
}
