<div class="animated fadeIn overflow-x-hidden">
    <!-- Service #1 -->
    <div class="row bg-white">
        <!-- Servive #1 -->
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5 pt-3">
            <h1 class="h3 text-uppercase">Ascensores nuevos</h1>
            <p class="text-justify">
                Contamos con equipos instalados en 5 ciudades de la Costa Atlántica, lo que nos ubica como un
                grupo
                innovador y revelación en la categoría de transporte vertical.
            </p>
        </div>
        <div class="col-sm-6 px-0">
            <img src="assets/images/ascensores-libres.jpg" alt="Ascensores" class="border-radius-lg img-fluid w-100 my-3">
        </div>
    </div>
    <!-- Service #2 -->
    <div class="row bg-light">
        <div class="col-sm-6 px-0">
            <img src="assets/images/escaleras-electricas.jpg" alt="Ascensores"
                class="border-radius-lg img-fluid w-100 my-3">
        </div>
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5">
            <h1 class="h3 text-right text-uppercase">Instalacion</h1>
            <p class="text-justify">
                Contamos con equipos instalados en 5 ciudades de la Costa Atlántica, lo que nos ubica como un
                grupo
                innovador y revelación en la categoría de transporte vertical.
            </p>
        </div>
    </div>
    <!-- Service #3 -->
    <div class="row bg-white">
        <div class="col-sm-6 px-0 d-flex flex-column justify-content-center px-5 pt-4">
            <h1 class="h3 text-uppercase">Mantenimiento</h1>
            <p class="text-justify">
                Nuestro personal capacitado con experiencia en mantenimiento preventivo, predictivo y
                correctivo.
            </p>
        </div>
        <div class="col-sm-6 px-0">
            <img src="assets/images/servicio-mover.jpg" alt="Ascensores" class="border-radius-lg img-fluid w-100 my-3">
        </div>
    </div>

    <app-slider></app-slider>
</div>